<div class="footer">
    <div class="shorting">
        <img src="https://tailieuonthi.org/wp-content/uploads/2022/12/cropped-TLOT-1.png.webp" alt="">
        <p>Website chia sẻ tài liệu ôn thi, đề thi thử các kỳ thi: Đánh giá tư duy TSA; Đánh giá năng lực HSA; Đánh giá năng lực TPHCM; Đánh giá năng lực ĐH Sư Phạm Hà Nội; kỳ thi tốt nghiệp THPT. <br> Cung cấp tài liệu nền tảng lớp 10, 11, 12 các môn học miễn phí.</p>
    </div>
    <div class="f-cate">
        <h2>DANH MỤC TÀI LIỆU</h2>
        <ul>
            <li><a href="/archives/hsa">ĐÁNH GIÁ NĂNG LỰC ĐHQGHN (HSA)</a></li>
            <li><a href="/archives/tsa">ĐÁNH GIÁ TƯ DUY BÁCH KHOA (TSA)</a></li>
            <li><a href="/archives/vact">ĐÁNH GIÁ NĂNG LỰC TPHCM (VACT)</a></li>
            <li><a href="/archives/spt">ĐÁNH GIÁ NĂNG LỰC SƯ PHẠM HN</a></li>
            <li><a href="/archives/thpt">TÀI LIỆU THPT (LỚP 10, 11, 12)</a></li>
            <li><a href="/archives/tnthpt">ĐỀ THI TỐT NGHIỆP THPT</a></li>
        </ul>
    </div>
    <div class="more">
        <h2>Các trang hữu ích</h2>
        <ul>
            <li><a href="/exams/hsa-tests">PHÒNG LUYỆN THI ĐGNL HSA</a></li>
            <li><a href="/exams/tsa-tests">PHÒNG LUYỆN THI ĐGTD TSA</a></li>
            <li><a href="/info/admissions">THÔNG TIN TUYỂN SINH ĐẠI HỌC</a></li>
            <li><a href="/info/admissions/results">ĐIỂM TRÚNG TUYỂN ĐẠI HỌC</a></li>
            <li><a href="/about">GIỚI THIỆU - LIÊN HỆ</a></li>
            <li><a href="/terms">CHÍNH SÁCH - ĐIỀU KHOẢN</a></li>
        </ul>
    </div>
</div>