<div class="logo">
    <a href="/"><img src="https://tailieuonthi.org/wp-content/uploads/2022/12/cropped-TLOT-1.png.webp"></a>
</div>
<ul class="nav-menu">
    <li class="home"><a href="/">TRANG CHỦ</a></li>

    <li class="dropdown">
        <a href="#">Đề TN THPT</a><i class="fa fa-chevron-down"></i>
        <div class="dropdown-content">
            <div class="drop-data">
                <h3>Môn Toán</h3>
                <a href="/archives/thpt-toan-12">Toán 12</a>
                <a href="/archives/thpt-toan-11">Toán 11</a>
                <a href="/archives/thpt-toan-10">Toán 10</a>
                <a href="/archives/thpt-toan-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Môn Vật lý</h3>
                <a href="/archives/thpt-vat-ly-12">Vật lý 12</a>
                <a href="/archives/thpt-vat-ly-11">Vật lý 11</a>
                <a href="/archives/thpt-vat-ly-10">Vật lý 10</a>
                <a href="/archives/thpt-vat-ly-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Môn Hóa học</h3>
                <a href="/archives/thpt-hoa-hoc-12">Hóa học 12</a>
                <a href="/archives/thpt-hoa-hoc-11">Hóa học 11</a>
                <a href="/archives/thpt-hoa-hoc-10">Hóa học 10</a>
                <a href="/archives/thpt-hoa-hoc-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Môn Sinh học</h3>
                <a href="/archives/thpt-sinh-hoc-12">Sinh học 12</a>
                <a href="/archives/thpt-sinh-hoc-11">Sinh học 11</a>
                <a href="/archives/thpt-sinh-hoc-10">Sinh học 10</a>
                <a href="/archives/thpt-sinh-hoc-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Môn Tin học</h3>
                <a href="/archives/thpt-tin-hoc-12">Tin học 12</a>
                <a href="/archives/thpt-tin-hoc-11">Tin học 11</a>
                <a href="/archives/thpt-tin-hoc-10">Tin học 10</a>
                <a href="/archives/thpt-tin-hoc-minh-hoa">Đề minh họa</a>
            </div>

            <div class="drop-data">
                <h3>Ngữ văn</h3>
                <a href="/archives/thpt-ngu-van-12">Ngữ văn 12</a>
                <a href="/archives/thpt-ngu-van-11">Ngữ văn 11</a>
                <a href="/archives/thpt-ngu-van-10">Ngữ văn 10</a>
                <a href="/archives/thpt-ngu-van-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Tiếng Anh</h3>
                <a href="/archives/thpt-tieng-anh-12">Tiếng Anh 12</a>
                <a href="/archives/thpt-tieng-anh-11">Tiếng Anh 11</a>
                <a href="/archives/thpt-tieng-anh-10">Tiếng Anh 10</a>
                <a href="/archives/thpt-tieng-anh-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Lịch sử</h3>
                <a href="/archives/thpt-lich-su-12">Lịch sử 12</a>
                <a href="/archives/thpt-lich-su-11">Lịch sử 11</a>
                <a href="/archives/thpt-lich-su-10">Lịch sử 10</a>
                <a href="/archives/thpt-lich-su-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>Địa lý</h3>
                <a href="/archives/thpt-dia-ly-12">Địa lý 12</a>
                <a href="/archives/thpt-dia-ly-11">Địa lý 11</a>
                <a href="/archives/thpt-dia-ly-10">Địa lý 10</a>
                <a href="/archives/thpt-dia-ly-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>GD KT & PL</h3>
                <a href="/archives/thpt-gdkt-pl-12">Lớp 12</a>
                <a href="/archives/thpt-gdkt-pl-11">Lớp 11</a>
                <a href="/archives/thpt-gdkt-pl-10">Lớp 10</a>
                <a href="/archives/thpt-gdkt-pl-minh-hoa">Đề minh họa</a>
            </div>
        </div>
    </li>

    <li class="dropdown">
        <a href="#">Đề ĐGTD</a><i class="fa fa-chevron-down"></i>
        <div class="dropdown-content">
            <div class="drop-data">
                <a href="/archives/tsa-toan">Toán học</a>
                <a href="/archives/tsa-doc-hieu">Đọc hiểu</a>
                <a href="/archives/tsa-khoa-hoc">Khoa học</a>
                <a href="/archives/tsa-minh-hoa">Đề minh họa</a>
            </div>
        </div>
    </li>

    <li class="dropdown">
        <a class="dropdown-btn" href="#">Đề ĐGNL</a><i class="fa fa-chevron-down dropdown-icon"></i>
        <div class="dropdown-content">
            <div class="drop-data">
                <h3>ĐGNL ĐHQG HN</h3>
                <a href="/archives/hsa-dinh-luong">Định lượng</a>
                <a href="/archives/hsa-dinh-tinh">Định tính</a>
                <a href="/archives/hsa-khoa-hoc">Khoa học</a>
                <a href="/archives/hsa-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>ĐGNL ĐHQG HCM</h3>
                <a href="/archives/vact-toan-hoc">Toán học</a>
                <a href="/archives/vact-ngon-ngu">Ngôn ngữ</a>
                <a href="/archives/vact-khoa-hoc">Khoa học</a>
                <a href="/archives/vact-minh-hoa">Đề minh họa</a>
            </div>
            <div class="drop-data">
                <h3>ĐGNL ĐHSP</h3>
                <a href="/archives/spt-toan-hoc">Toán học</a>
                <a href="/archives/spt-ngon-ngu">Ngôn ngữ</a>
                <a href="/archives/spt-khoa-hoc">Khoa học</a>
                <a href="/archives/spt-minh-hoa">Đề minh họa</a>
            </div>
        </div>
    </li>
</ul>
