/* ==========Welcome Popup========== */
#welcome-popup {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.welcome{
    opacity:1;
    animation: flyUp ease-in 1s forwards;
    animation-delay: 0.5s ;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
.welcome img{
    width: 30%;
    height: auto;
}
/* .welcome-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
} */
@keyframes flyUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0.5;
    }
}
.title{
    text-transform: uppercase;
    text-align: center;
    font-size: larger;
    color:rgb(70, 70, 70)
}
.title p{
    text-transform:none;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;
}
.tests{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    max-width: 25vw;
    text-align: center;
    gap:10px;
    justify-content: center;
}
.card p{
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.date{
    position: absolute;
    top: 50px;
    left: -20px;
    background-color: white;
    border: 5px solid orange;
    text-align: center;
    color: orange;
    padding: 5px;
    transition: 0.2s;
}
.date p{
    font-family: 'Montserrat', sans-serif;
}
.card:hover .date{
    background-color: orange;
    color: white
}
.card img{
    aspect-ratio: 16/9;
}
.pages{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 40px 0;
}
.page-btn{
    border: 2px solid orange;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    color: orange;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.page-btn:hover{
    color: white;
    background-color: orange;
}
.page-btn.active{
    background-color: orange;
    color: white;
}
.pages span{
    margin: 0 5px;
    color: orange;
}
.searchbox {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.search-input {
    padding-left: 0.625rem;
    width: 10rem;
    height: 2.5rem;
}

.search-input:focus::placeholder {
    color: transparent;
    transition: 0.3s;
}

.search-input-button {
    padding-left: 5px;
    width: 3vw;
}
.search-input-button i {
    /* color: orange; */
    font-size: 1.2rem;
}
