body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

header {
    background: #fff;
    border-bottom: 3px solid #0073aa;
    padding: 20px 0;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.title p{
    font-size:12px;
    color: #848484;
    margin: 10px auto;
    text-align: center;
}
.title h1{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 10px auto;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}
.main img {
    aspect-ratio: calc(16/9);
    width: 80%;
    height: auto;
    display: flex;
    margin: 20px auto;
}
p{
    margin-bottom:22px;
}

strong{
    color:#333;
}

a{
    color:#1d3f72;
    text-decoration:none;
    font-weight:600;
}

a:hover{
    text-decoration:underline;
}

/* TOC */

.toc{
  border:1px solid #ccc;
  border-radius:10px;
  padding:16px;
  background:#fafafa;
  max-width:700px;

}

.toc-header{
  display:flex;
  align-items:center;
  /* gap:10px; */
  justify-content: space-between;

  margin-bottom:14px;
}

.toc-title{
  font-size:22px;
  font-weight:600;
  color:#666;
}

.toc-btn{
  width:34px;
  height:34px;

  border:1px solid #bbb;
  border-radius:6px;

  background:#fff;
  cursor:pointer;

  font-size:18px;
}

.toc-list{
  padding-left:22px;
}

.toc-list li{
  margin-bottom:8px;
}

.toc-list a{
  text-decoration:none;
  color:#333;
}

.toc-list a:hover{
  text-decoration:underline;
}

/* SECTION TITLE */

.section-title{
    color:#d6332c;
    font-size:42px;
    line-height:1.3;
    font-weight:700;

    margin:46px 0 18px;
}

.section-subtitle{
    font-size:28px;
    font-weight:700;
    color:#666;

    margin:28px 0 10px;
}

ul{
    margin-left:22px;
    margin-bottom:20px;
}

li{
    margin-bottom:10px;
}

/* DOWNLOAD */

.download{
    text-align:center;
    margin-top:20px;
}

.download a{
    color:#ff6a00;
    font-size:24px;
    font-weight:800;
    text-transform:uppercase;
}

/* IMAGE */

.preview-image{
    display:block;
    margin:28px auto 0;

    width:min(100%, 700px);

    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

html{
    scroll-behavior:smooth;
}

section{
    scroll-margin-top:100px;
}

@media (max-width:768px){

    .container{
    padding:22px;
    }

    .section-title{
    font-size:32px;
    }

    .section-subtitle{
    font-size:22px;
    }

    .toc{
    min-width:100%;
    }

    .toc-title{
    font-size:24px;
    }

}